@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  overflow-x: hidden;
}

#handDrawnCircle::before {
  content: '';
  background-image: url('../assets/about/oval-scribble-1.svg');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
}

#handDrawnCircle {
  position: relative;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

#handDrawnUnderline::before {
  content: '';
  background-image: url('../assets/about/angry-underline.svg');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
}

#handDrawnUnderline {
  position: relative;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@keyframes scaleAndTranslate {
  0% {
    transform: translate3d(0px, 0px, 0px) scale3d(0.97162, 0.97162, 1);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  }
}

.animate-scaleAndTranslate {
  animation: scaleAndTranslate 2s ease-in-out;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
